body{
    max-width: 80%;
    margin: auto;
}
h1{
    text-align: center;
}
.card{
    padding: 5px;
    box-sizing: border-box;
    background: rgb(220, 183, 254);
    display: block;
    margin: 0px 20px;
    padding: 30px 30px;
}

.image-holder{
    display: inline-block;
    max-inline-size: inherit;
    margin-right: 50px;
}
#Discription{
    display: inline-block;
    text-align: end;
    box-sizing: border-box;
    width: inherit;
    margin-top:0px;
    margin-left: 0px;
    max-width: 600px;
    padding: 0px 10px;
}
.content h4{
    text-align: center;
}
.content{
    background-color: rgb(220, 183, 254);
    color: rgb(38, 37, 37);
    margin: 10px 20px;
    padding: 10px 10px 10px 0px
}


